{% extends 'head.html' %}
{% block head%}
    <title>{{_cfg_.site.title}}</title>
{%endblock%}
{%block body%}

  <section id="container" class="">
      <!--header start-->
      {%include "head_nav.html"%}
      <!--header end-->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu">
                  <li class="">
                      <a class="" href="/home/index.html">
                          <i class="icon-dashboard"></i>
                          <span>首页</span>
                      </a>
                  </li>
                  <li class="sub-menu active">
                      <a href="javascript:;" class="">
                          <i class="icon-tasks"></i>
                          <span>用户管理</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                          <li class = "active"><a class="" href="/user/add.html">添加用户</a></li>
                          <li><a class="" href="/user/lists.html">用户列表</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" class="">
                          <i class="icon-cogs"></i>
                          <span>二级代理</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                          <li><a class="" href="agent_lists.html">我的代理</a></li>
                          <li><a class="" href="add_agent.html">添加代理</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" class="">
                          <i class="icon-th"></i>
                          <span>我的录入</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                      	  <li class=""><a class="" href="info_lists.html">信息列表</a></li>
                          <li class=""><a class="" href="add_info.html">录入信息</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" class="">
                          <i class="icon-glass"></i>
                          <span>配置管理</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                          <li><a class="" href="confirm.html">确认信息点</a></li>
                          <li><a class="" href="arrange.html">报考层次</a></li>
                          <li><a class="" href="profess.html">专业类别</a></li>
                          <li><a class="" href="school_lists.html">学校配置</a></li>
                          <li><a class="" href="profess_lists.html">专业配置</a></li>
                      </ul>
                  </li>
                  <li>
                      <a class="" href="login.html">
                          <i class="icon-user"></i>
                          <span>个人中心</span>
                      </a>
                  </li>
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
              <!-- page start-->
              <div class="row">
                  <div class="col-lg-12">
                      <!--breadcrumbs start -->
                      <ul class="breadcrumb">
                          <li><a href="/home/index.html"><i class="icon-home"></i>首页</a></li>
                          <li><a href="#">用户管理</a></li>
                          <li class="active">添加用户</li>
                      </ul>
                      <!--breadcrumbs end -->
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-12">
                      <section class="panel">
                          <header class="panel-heading">
                              	添加用户
                          </header>
                          <div class="panel-body">
                              <form class="form-inline">
                              <table class="form_table" style="border-collapse:separate; border-spacing:0px 5px;" id="">
		                          <tbody>
		                         <tr>
		                          	  <th class="form_table_th">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</th>
		                          	  <td>
                                      <input type="email" class="form-control" name = "name" placeholder="请输入实际姓名"id="name" >
 									  </td>
		                          </tr>
		                          <tr>
		                          	  <th class="form_table_th">联系电话</th>
		                          	  <td>
                                      <input type="email" class="form-control"  name = "phone" placeholder="请输入联系电话" id="phone" >
 									  </td>
		                          </tr>		                       
								  <tr style="border:none;">
									<td style="text-align:center;" colspan="2">
                                  <button type="button" class="btn btn-shadow btn-primary">保存</button>
                                  <button type="button" class="btn btn-shadow btn-default" onclick="javascript:window.location.href='/user/lists'">取消</button>								
									</td>
								  </tr>
		                          </tbody>
		                          </table>
                              </form>

                          </div>
                      </section>

                  </div>
              </div>

              <!-- page end-->
          </section>
      </section>
      <!--main content end-->
  </section>
{%include "foot.html"%}
<script type="text/javascript">
//提交按钮
$('.btn-primary').click(function(){
	
	var ok = true;
	var name = $("#name").val();
	var phone = $("#phone").val();
	
	$.ajax({
		url: '/user/add.json',
		method: 'POST',
		data:{name:name,phone:phone},  
		success: function(re){
			alert(re);return;
			if(re.data.album_id == 0 ){
			  alert("轻小说id无效~");
				location.href = "/role/lists.html";
				ok = false;
			}
			else{
				ok = true;
			}
			
		    if(ok){
		        $('form').submit(); //提交
		    }else{
		        return false; //不提交
		    }
			
		}
	});
	

});
</script>
{%endblock%}