{% extends 'head.html' %}
{% block head%}
    <title>{{_cfg_.site.title}}</title>
{%endblock%}
{%block body%}
  <section id="container" class="">
      <!--header start-->
      {%include "head_nav.html"%}	
      <!--header end-->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu active">
                  <li class="">
                      <a class="" href="/home/index.html">
                          <i class="icon-dashboard"></i>
                          <span>首页</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" class="">
                          <i class="icon-tasks"></i>
                          <span>用户管理</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                          <li class = ""><a class="" href="add_user.html">添加用户</a></li>
                          <li><a class="" href="user_lists.html">用户列表</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" class="">
                          <i class="icon-cogs"></i>
                          <span>二级代理</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                          <li><a class="" href="add_user.html">我的代理</a></li>
                          <li class = "active"><a class="" href="user_lists.html">添加代理</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" class="">
                          <i class="icon-th"></i>
                          <span>我的录入</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                      	  <li class=""><a class="" href="info_lists.html">信息列表</a></li>
                          <li class=""><a class="" href="add_info.html">录入信息</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" class="">
                          <i class="icon-glass"></i>
                          <span>配置管理</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                          <li><a class="" href="confirm.html">确认信息点</a></li>
                          <li><a class="" href="arrange.html">报考层次</a></li>
                          <li><a class="" href="profess.html">专业类别</a></li>
                          <li><a class="" href="school.html">学校配置</a></li>
                          <li><a class="" href="profess_lists.html">专业配置</a></li>
                      </ul>
                  </li>
                  <li>
                      <a class="" href="login.html">
                          <i class="icon-user"></i>
                          <span>个人中心</span>
                      </a>
                  </li>
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
              <!-- page start-->
              <span style="font-size:20px">欢迎您，{{name}}</span>
              <!-- page end-->
          </section>
      </section>
      <!--main content end-->
  </section>
{%include "foot.html"%}
{%endblock%}
